<div class="background">
  <div class="container">
    <h2 class="title">Electricity Prices Platform</h2>
    <form [formGroup]="consumptionForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="consumption" class="form-label">Consumption (kWh/year):</label>
        <input type="number" id="consumption" formControlName="consumption" class="form-control" />
        <mat-error *ngIf="consumptionForm.get('consumption')?.hasError('required')">
          Consumption is required
        </mat-error>
      </div>
      <button type="submit" mat-button color="primary" [disabled]="!consumptionForm.valid">
        View Tariffs
      </button>


    </form>
    <div *ngIf="products$ | async" class="products-container">
      <h2>Electricity Tariffs</h2>
      <div class="card-container">
        <mat-card *ngFor="let product of products$ | async" class="product-card">
          <mat-card-header>
            <mat-card-title>{{ product.calculationModel }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="product-price">
              Annual Cost: {{ product.annualCost }} €/year
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
