<div class="background">
  <div class="container">
    <h1 class="title">Electricity Prices Platform</h1>
    <form [formGroup]="consumptionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="consumption">Consumption (kWh/year):</label>
        <input type="number" id="consumption" formControlName="consumption">
      </div>
      <button type="submit">View Tariffs</button>
    </form>
    <div *ngIf="tariffs">
      <h2 class="subtitle">Electricity Tariffs</h2>
      <ul class="tariffs">
        <li *ngFor="let tariff of tariffs">
          <h3>{{tariff.name}}</h3>
          <p>Annual Cost: {{tariff.annualCost}} €/year</p>
        </li>
      </ul>
    </div>
  </div>
</div>
